@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Denemek için şimdi </p> 
     <p><a asp-route="TriggerCampaign" class="btn btn-primary">Agent'ı Çalıştır</a></p>
</div>
