@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hatırlatma!</h1>
    <p>
        Eğer kullanacağın yapay zeka (Gemini veya GPT) api key'i <b>program.cs</b> dosyasına eklediysen,
        <br />
        <b>Strapi</b> projende <b>product ve campaign</b> adında collectionların oluşturduysan,
        <br />
        ve Strapi projen (localhost)<b> 1337</b> portunda çalışır durumda ise,
        <br />
        aşağıdaki butona tıklayarak agent'ı çalıştırabilirsin. 
        <br />
        Agent, belirlediğin hedefe ulaşmak için gerekli adımları atacak ve sana geri bildirimde bulunacaktır.
    </p>

    <p>Denemek için şimdi </p> 
     <p><a asp-route="TriggerCampaign" class="btn btn-primary">Agent'ı Çalıştır</a></p>
</div>
